body {
    margin: 0;
}

.grid-container {
    resize: both;           /* allows user to resize element by draging bottom-right */
    overflow: auto;         /* enable scrolling if resize the container to be smaller than grid */
    display: grid;
    gap: 4px;
    padding: 4px;
    border: 1px solid grey;
    background-color: skyblue;
    grid-template-columns: repeat(2, 150px);                        /* repeat() used */
    grid-template-rows: repeat(5, 150px);                           /* repeat() used */
    /* grid-template-rows: 150px 150px; */                          /* define track sizes individually */
    /* grid-template-columns: 150px 150px 150px 150px 150px; */     /* define track sizes individually */

}

.grid-item {
    background-color: #444;
    text-align: center;
    color: #ddd;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
}

p {
    margin: 12px auto 24px;
}

img {
    height: 60px;
}






/******************** NOTES ********************/

